main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("../img/background-login.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.direction {
    position: absolute;
    top: 100px;
    left: 20px;
    font-size: 0.9rem;
    color: #7a294e;
}
.direction a {
    color: #7a294e;
    text-decoration: none;
    font-weight: 600;
}
.register-container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.register-form {
    width: 100%;
    background: rgba(255, 248, 242, 0.92);
    backdrop-filter: blur(10px);
    border-radius: 24px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.18);
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}


.register-title {
    color: #7a294e;
    font-size: 2.1rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 6px;
}

.register-subtitle {
    color: #7a294e;
    opacity: 0.75;
    text-align: center;
    font-size: 0.95rem;
    margin-bottom: 18px;
}


.input-group {
    position: relative;
    margin-bottom: 6px;
}

.input-group input {
    width: 70%;
    padding: 14px 44px;
    border-radius: 14px;
    border: 1px solid #e3d6cc;
    font-size: 0.95rem;
    background: #fff;
    color: #7a294e;
}

.input-group input:focus {
    border-color: #dadadaf3;
    box-shadow: 0 2px 7px rgba(63, 1, 41, 0.473);
}


.input-icon {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    color: #7a294e;
    font-size: 1.1rem;
}

.input-eye {
    right: 14px;
    left: auto;
    cursor: pointer;
}




.register-btn {
    margin-top: 10px;
    background: linear-gradient(135deg, #7a294e, #a2446d);
    color: #fff;
    font-size: 1.05rem;
    padding: 14px 0;
    border-radius: 90px;
    font-weight: 400;
    transition: all 0.25s ease;

}

.register-btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(231, 154, 189, 0.826);
}


.register-social {
    display: flex;
    gap: 10px;
    margin: 16px 0;
}

.social-btn {
    flex: 1;
    padding: 10px 0;
    border-radius: 999px;
    font-size: 0.9rem;

    transition: 0.3s ease;
}


.social-btn.google i {
    color: #ea4335;
}

.social-btn.facebook i {
    color: #1877f3;
}

.social-btn:hover {
    background: #1a050efe;
    border-color: #bda1b6;
    color: white;
    
}

.register-bottom {
    text-align: center;
}

.register-bottom a {
    color: #7a294e;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    margin-top: 16px;

}
@media (max-width: 768px) {
    main {
        background: none;
        padding: 20px;
    }

    .register-form {
        padding: 22px 18px;
        border-radius: 20px;
    }

    .register-title {
        font-size: 1.8rem;
    }
    .register-container{
        align-items: center;
        width: 100%;
        padding: 20px 0px;
    }
}
